* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
}

#collapseMenu {
    background-color: rgba(255, 255, 255, 1);
}

#collapseMenu>ul {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
}

#collapseMenu>ul>li {
    list-style: none;
}

#collapseMenu1,
#collapseMenu2,
#collapseMenu3,
#collapseMenu4 {
    margin-left: 1rem;
}