<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<style>
    body {
        padding: 0;
        margin: 0;
        max-width: 100%;
        background-color: #c1c1c1;
    }
    
    .class {
        font-size: 15em;
        color: #255
    }
</style>

<body>
    <p class="class">Is running !</p>
</body>

</html>