<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Jv Portfolio</title>
</head>

<body>
    <!-- Conteudo completo -->
    <div class="conteudoPrincipal">
        <div id="menu">
            <div class="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Imperial-esports-logo.png">
            </div>
            <ul>
                <li>Menu1</li>
                <li>Menu2</li>
                <li>Menu3</li>
            </ul>
            <div class="login">
                is coming
            </div>
        </div>
        <div class="conteiner">
            <div class="content"></div>
            <div class="content"></div>
            <div class="content"></div>
        </div>
    </div>
    <script src="/Script.js"></script>
</body>

</html>